.category {
  h2 {
    margin-top: 2em;
    margin-bottom: 0.8em;
    border-bottom: 1px solid #bbb;
  }

  .columns {
    column-gap: 2em;

    &.columns-3 {
      column-width: 250px;
    }

    &.columns-2 {
      column-width: 400px;
    }

    &.columns-1 {
      column-width: 800px;
    }

    section {
      margin: 1em 0;
    }

    section,
    li {
      break-inside: avoid-column;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 14px;
    margin-top: 2em;
    margin-bottom: 0.2em;
    background: #0001;
  }

  ul {
    margin: 3px 0;
    padding: 0 1.5em;
    line-height: 135%;
  }
}
