nav.menu {
  margin: 6px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav.menu a {
  display: inline-block;
  min-width: 100px;
  padding: 0 12px;
  line-height: 36px;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

nav.menu a:hover {
  background: #0001;
}
