.podium {
  padding: 16px;
}

.podium h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #bbb;
  padding-bottom: 4px;
}

.omnisearch {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #f2f2f2;
  padding: 16px;
}

.podium p {
  margin: 1em 0;
}